html {
  --tileWidth: 30px;
}

.body {
  position: relative;
}
.timerContainer {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 100px;
  grid-auto-flow: column;
}
.gameOverBox {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  max-width: 530px;
  z-index: 1;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.6);
  background-color: rgba(255,255,255, 1);
  backdrop-filter: blur(5px);
}
.gameOverText {
  font-size: min(10vw, 4.5em);
  color: black;
  /* text-shadow: 3px 3px 3px black; */
}

.board {
  display: grid;
  margin-inline: auto;
  margin-bottom: 5em;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(var(--boardWidth), auto);
  width: calc(var(--boardWidth) * var(--tileWidth) + 2px);
  border: 1px solid black;
}

.tile {
  width: var(--tileWidth);
  height: var(--tileWidth);
  border: 2px;
  border-style: solid;
  position: relative;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hidden {
  border-color: grey;
  background-image: url("assets/hidden.png");
}

.tile.open {
  border-color: grey;
  background-color: white;
}
.tile.open.nro_1 {
  background-image: url("assets/nro_1.png");
}
.tile.open.nro_2 {
  background-image: url("assets/nro_2.png");
}
.tile.open.nro_3 {
  background-image: url("assets/nro_3.png");
}
.tile.open.nro_4 {
  background-image: url("assets/nro_4.png");
}
.tile.open.nro_5 {
  background-image: url("assets/nro_5.png");
}
.tile.open.nro_6 {
  background-image: url("assets/nro_6.png");
}
.tile.open.nro_7 {
  background-image: url("assets/nro_7.png");
}
.tile.open.nro_8 {
  background-image: url("assets/nro_8.png");
}

.tile.mine {
  border-color: grey;
  background-image: url("assets/mine.png");
}
.tile.mine_exploded {
  border-color: grey;
  background-image: url("assets/mine_exploded.png");
}

.tile.flag {
  border-color: grey;
  background-image: url("assets/flag.png");
}
.tile.flag_incorrect {
  border-color: grey;
  background-image: url("assets/flag_incorrect.png");
}

.hidden:hover:not(.disabled) {
  border-color: black;
}

a.active {
  background-color: lightgray;
}

