body {
  background-color: #eedbbd !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


html, body {
  margin:0;
  --skew: skewY(-2deg);
  --antiSkew : skewY(2deg);
}
  
.wrapper {
  height:100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.hero {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.hero-title {
  color: white;
  text-shadow: 0 0 6px black;
  font-size: clamp(1.8rem, 5vw, 3.2em)
}
.hero-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-9.9px);
  scale: 2;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  /* opacity: 0.5; */
}
.hero-btn-wrapper {
  min-height: 5rem;
}

.button {
  cursor: pointer;
  color: white;
  text-shadow: 0 0 6px black;
  position: relative;
  border: none;
  transition: all 280ms ease-in-out;
}
.cta {
  padding: 15px 35px 15px 30px;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.2);
  /* border-top: 1px solid white;
  border-bottom: 1px solid white;  */
}
.cta::after {
  content: '↓';
  color: white;
  position: absolute;
  top: 26%;
  right: 13px;
  transition: all 280ms ease-in-out;
  opacity: 0;
}
.cta:hover::after,
.cta:focus::after {
  opacity: 1;
}
.cta::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transition: all 280ms ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
}
.cta:hover::before,
.cta:focus::before {
  transform: scaleY(1);
}
.cta:hover,
.cta:focus {
  padding: 20px 35px 20px 30px;
}
.secondary-cta {
  padding: 15px 20px;
  font-size: 1.2em;
  background-color: transparent;
}
.secondary-cta::after {
  content: '→';
  position: absolute;
  top: 26%;
  transition: all 280ms ease-in-out;
  opacity: 0;
}
.secondary-cta:hover::after {
  opacity: 1;
}
.secondary-cta::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transition: all 280ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
.secondary-cta:hover::before,
.secondary-cta:focus::before {
  transform: scaleX(1);
}
.secondary-cta:hover,
.secondary-cta:focus {
  letter-spacing: 2px;
}



.about {
  padding-top: 5em;
  border-radius: 5em 5em 0 0;
  background-color: #522321;
}
.common-title {
  text-align: center;
  font-size: clamp(2rem, 2.5vw, 3.2em);
  color: #e7a31a;
}
.common-paragraph {
  padding: 2rem;
  color: white;
}


.contact {
  text-align: center;
  background-color: #5f2826;
  padding: 5rem;
  color: #e7a31a;
  transform: var(--skew);
  transform-origin: 0;
}
.input-container input,
.input-container textarea {
  max-width: 25em;
}

.footer {
  background-color: #522321;
  margin-top: -1rem;
  padding: 5rem;
  transform: var(--skew);
  transform-origin: 0;
}
.footer::after {
  content: "";
  width: 100%;
  height: 20%;
  bottom: 0px;
  left: 0px;
  position: absolute;
  background-color: #522321;
  transform: var(--antiSkew);
  transform-origin: 0;
}
.content {
  transform: var(--antiSkew);
}