body {
  background-color: #eedbbd !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  margin:0;
  --skew: skewY(-2deg);
  --antiSkew : skewY(2deg);
  --color-gold: #e7a31a;
  --color-dark-burgundy: #522321;
  --color-light-burgundy: #5f2826;
  --font-size-small: clamp(1em, 1.6vw, 1.2em);
  --font-size-medium: clamp(1.2rem, 2.5vw, 1.8em);
  --font-size-huge: clamp(2.4rem, 5vw, 3.4em);
}
  
.wrapper {
  height:100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.common-title {
  text-align: center;
  font-size: var(--font-size-huge);
  color: var(--color-gold);
  letter-spacing: -2px;
}
.common-paragraph {
  color: white;
  font-size: var(--font-size-small);
  text-align: justify;
}
.common-paragraph a {
  color: var(--color-gold);
}
.common-paragraph a::after {
  content: "→";
}
.line {
  width: 50%;
  margin: 2em auto;
  border-top: 1px solid var(--color-gold);;
}

.hero-paragraph {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: var(--font-size-medium);
}
.hero-paragraph span{
  color: var(--color-gold)
}

.hero {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.hero-title {
  color: white;
  text-shadow: 3px 3px 2px black;
  font-size: var(--font-size-huge);
  letter-spacing: -1px;
  padding-bottom: 20px;
}
.hero-title .name {
  position: relative;
  white-space: nowrap;
}
.hero-title .name::after {
  content:"";
  width: 245px;
  height: 29px;
  position: absolute;
  background-image: url('./../assets/swigly1.svg');
  background-repeat: no-repeat;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
.hero-bg-mask {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 80%;
  max-width: 900px;
  height: 45%;
  min-height: 400px;
  background: rgba(255,255,255,0.1);
  border-radius: 50%;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 16px 0px rgba(255,255,255,0.4);
}
@media (max-width: 600px) {
  .hero-bg-mask {
    min-height: 600px;
  }
}

.hero-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-9.9px);
  scale: 2;
  filter: brightness(80%)
}
.hero-btn-wrapper {
  min-height: 6rem;
}

.button {
  cursor: pointer;
  color: white;
  text-shadow: 0 0 6px black;
  position: relative;
  border: none;
  transition: all 280ms ease-in-out;
}
.cta {
  padding: 15px 35px 15px 30px;
  font-size: var(--font-size-medium);
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  margin-top: 15px;
}
.cta::after {
  content: '↓';
  color: white;
  position: absolute;
  top: 50%;
  right: calc(50% - 7px);
  transition: all 280ms ease-in-out;
  opacity: 0;
}
.cta:hover::after,
.cta:focus::after {
  opacity: 1;
}
.cta::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transition: all 280ms ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
}
.cta:hover::before,
.cta:focus::before {
  transform: scaleY(1);
}
.cta:hover,
.cta:focus {
  padding-bottom: 30px;
  background-color: rgba(0,0,0,0.4);
}
.secondary-cta {
  padding: 15px 20px;
  font-size: var(--font-size-small);
  background-color: transparent;
}
.secondary-cta::after {
  content: '→';
  position: absolute;
  top: 26%;
  transition: all 280ms ease-in-out;
  opacity: 0;
}
.secondary-cta:hover::after {
  opacity: 1;
}
.secondary-cta::before {
  content: '';
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  z-index:-1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transition: all 280ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
.secondary-cta:hover::before,
.secondary-cta:focus::before {
  transform: scaleX(1);
}
.secondary-cta:hover,
.secondary-cta:focus {
  letter-spacing: 2px;
}

.about {
  padding-top: 5em;
  border-radius: 5em 5em 0 0;
  background-color: var(--color-dark-burgundy);
  max-width: 1000px !important;
}
.about-picture {
  width: 80%;
  border-radius: 30%;
  margin: 2rem auto;
  box-shadow: 3px 3px 6px black;
}
.contact {
  text-align: center;
  background-color: var(--color-light-burgundy);
  padding: 5rem;
  color: #FFF;
  transform: var(--skew);
  transform-origin: 0;
  max-width: 1000px !important;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.input-container {
  width: 100%;
  position: relative;
  transition: 0.5s;
}
.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255,255,255, 0.3);
  border-radius: 15px;
  background-color: transparent;
  outline: none;
  color: #fff;
}
.input-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255,255,255, 0.3);
  border-radius: 15px;
  background-color: transparent;
  outline: none;
  color: #fff;
}
.input-container span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  transition: 0.5s;
}
.input-container input:focus ~ span,
.input-container input:valid ~ span,
.input-container textarea:focus ~ span,
.input-container textarea:valid ~ span {
  color: var(--color-gold);
  transform: translate(20px, -10px);
  font-size: 0.8em;
  padding: 0 10px;
  background-color: var(--color-light-burgundy);
  border-left: 1px solid var(--color-gold);
  border-right: 1px solid var(--color-gold);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.input-container input:valid,
.input-container input:focus,
.input-container textarea:valid,
.input-container textarea:focus {
  border: 1px solid var(--color-gold);
}
.submit-button {
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  padding: 10px 30px;
  position: relative;
}
.submit-button:hover,
.submit-button:focus {
  background: var(--color-gold);
}
.submit-button::before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  border: 1px solid var(--color-gold);
  transition: all 100ms ease-in;
} 
.submit-button:focus::before,
.submit-button:hover::before {
  top: -4px; bottom: -4px; left: -4px; right: -4px;
}

.footer {
  background-color: var(--color-dark-burgundy);
  margin-top: -1rem;
  padding: 5rem;
  transform: var(--skew);
  transform-origin: 0;
  max-width: 1000px !important;
}
.footer::after {
  content: "";
  width: 100%;
  height: 20%;
  bottom: 0px;
  left: 0px;
  position: absolute;
  background-color: var(--color-dark-burgundy);
  transform: var(--antiSkew);
  transform-origin: 0;
}
.content {
  transform: var(--antiSkew);
}

/* Raccoon animating */
svg {
  cursor: pointer;
}
#waving-paw {
  opacity: 0;
  transform-origin: 64% 105%;
}
#mouth-hover,
#eyebrow-l-hover,
#eyebrow-r-hover {
  opacity:0;
}
svg:hover {
  #r-paw,
  #mouth,
  #eyebrow-l,
  #eyebrow-r {
    opacity:0;
  }
  #mouth-hover,
  #eyebrow-l-hover,
  #eyebrow-r-hover{
    opacity:1;
  }
  #waving-paw {
    opacity: 1;
    -webkit-animation: wave 0.5s linear infinite;
    -moz-animation: wave 0.5s linear infinite;
    animation: wave 0.5s linear infinite;
  }
}
@-moz-keyframes wave {
  0% {
    -moz-transform: rotate(35deg);
  }
  50% {
    -moz-transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(35deg);
  }
}
@-webkit-keyframes wave { 
  0% {
    -webkit-transform: rotate(35deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(35deg);
  }
}
@keyframes wave { 
  0% {
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
  }
  50% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
  }
  100% {
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
  }
}

/* .moving-square-container {
  width: 100%;
  position: relative;
}
.moving-square {
  width: 50px;
  height: 50px;
  background-color: #3498db;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: moveSquare 6s linear infinite;
}
@keyframes moveSquare {
  0% {
    left: 0;
  }

  50% {
    left: calc(100% - 50px);
  }

  100% {
    left: 0; 
  }
} */
